<div class="container">
  <div class="jumbotron" >
    <h1>KLM Flight Search</h1>
  </div>
  <div class="row"> 
    <app-airport-search-box [flightSelection]="origin" class="col-sm"></app-airport-search-box>
    <app-airport-search-box [flightSelection]="destination" class="col-sm"></app-airport-search-box> 
  </div>
  <button (click)="onFlightSelected()">Get Fare</button>
  <div *ngIf="fare" class="container spacer">
    <h2>Flight found:</h2>
    <div class="card">
      <div class="card-header klm-color" style="opacity: 50%;">
          <p><strong>From: </strong>{{ fare.origin +" - "+ origin.getAirportDesc()}}</p>
          <p><strong>To: </strong>{{ fare.destination +" - "+ origin.getAirportDesc()}}</p>
      </div>
      <div class="card-body">
        <strong>Price: </strong>{{ fare.amount}} {{ fare.currency }}
      </div>
    </div>
  </div>

</div>
