<div>
  <mat-form-field class="searchField">
    <input matInput type="text" placeholder="{{flightSelection.direction}}" [formControl]="airportForm" [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete  #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let airport of value" [value]="airport">
      {{ airport }}
    </mat-option>
  </mat-autocomplete>  
</div>